.card {
    background-color: #ffff;
    border-radius: 2px;
    border: 1px solid #d0d7d9;
    box-shadow: 0px 2px 6px #d0d7d9;
    width: 16.3rem;
    height: 13rem;
    margin-bottom: 15px;

    .card-espaco {
        padding: 15px;

        .titulo {
            margin: 0;
        }

        .subtitulo {
            color: #787878;
            margin-top: 0;
            font-size: 0.8rem;
            margin-bottom: 31px;
        }

        .sessao-nome {
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: 12px;
            margin-bottom: 20px;

            img {
                margin: auto;
            }

            .label {
                color: #787878;
                margin: auto;
                font-size: 12px;
            }

            .nome {
                margin: auto;
            }
        }

        .sessao-situacao {
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: 12px;

            img {
                margin: auto;
            }

            .label {
                color: #787878;
                margin: auto;
                font-size: 12px;
            }

            .situacao {
                margin: auto;
            }
        }

        .conta {
            display: grid;
            grid-template-columns: 22px 159px;
            column-gap: 12px;
            margin-bottom: 40px;

            img {
                margin: auto;
            }

            .label {
                color: #787878;
                margin: auto;
                font-size: 12px;
            }

            .num-conta {
                margin: auto;
            }
        }

        .link {
            text-decoration: none;
            color: #165c7d;
            font-weight: bolder;
        }
    }
}