<div class="container">
    <h2 class="titulo">Informe o CPF do futuro cooperado (a)</h2>
    <p class="p1">Se necessário, você poderá duplicar uma conta existente ou pausar e retornar este cadastro futuramente.</p>
    <p class="p2">Digite apenas os números (sem pontos ou traços).</p>

    <form>
        <label for="cpf">CPF</label>
        <br>
        <input type="text" name="cpf" id="cpf" placeholder="000.000.000-00">
        <button type="submit">Consultar por CPF</button>
    </form>
</div>
