<div class="container">
    <h2 class="titulo">Informe o CPF do futuro cooperado (a)</h2>
    <p class="p1">Se necessário, você poderá duplicar uma conta existente ou pausar e retornar este cadastro futuramente.</p>
    <p class="p2">Digite apenas os números (sem pontos ou traços).</p>

    <form [formGroup]="form">
        <label for="cpf">CPF</label>
        <br>
        <input
            formControlName="cpf"
            type="text"
            name="cpf"
            id="cpf"
            placeholder="000.000.000-00"
            maxlength="11"
            (keypress)="apenasNumeros($event)"
            (keyup)="onKeyUp($event)"
            (blur)="validaQuantidade($event)">

        <button
            (click)="this.onSubmit()"
            type="button">Consultar por CPF</button>

        <div *ngIf="cpf.invalid && submitted">
            <div class="erro" *ngIf="validaQtd && !cpf.errors?.['required']">Campo possui apenas {{qtdDigitos}} de digitos é necessário ter 11</div>
            <div class="erro" *ngIf="cpf.errors?.['required']">Campo CPF é obrigatório</div>
            <div class="erro" *ngIf="cpf.errors?.['cpfInvalido'] && !cpf.errors?.['required']">CPF inválido. Digite um CPF válido</div>
        </div>
        <div class="erro" *ngIf="cpfNaoEncontrado && !cpf.errors?.['required'] && !cpf.errors?.['cpfInvalido']">CPF não encontrado</div>
    </form>

    <div class="cartoes" *ngIf="ativaCartao">
        <app-cartao
            titulo="Situação cadastral do CPF"
            subtitulo="Consulta na Receita Federal"
            [nome]="cliente.nome"
            tipo="situacao"
            [situacao]="cliente.situacao"
            ></app-cartao>

        <app-cartao
            titulo="Conta aplicação"
            subtitulo="Cooperativa Viacredi"
            tipo="conta"
            [numConta]= "cliente.contaAplicacao"
        ></app-cartao>

        <app-cartao
            class="card-conta-corrente"
            titulo="Conta corrente"
            subtitulo="Cooperativa Viacredi"
            tipo="conta"
            [numConta]= "cliente.contaCorrente"
    ></app-cartao>
    </div>
</div>


<!-- [disabled]="!this.myForm.value.cpf"
     [ngClass]="this.myForm.value.cpf === '' ? 'disabled' : ''"
-->