<header class="cabecalho">
    <div class="texto">
        <h2 class="titulo">NOVA ADMISSÃO COOPERADO</h2>
        <span class="navegacao">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</span>
    </div>
    <div class="opcoes">
        <img class="sino" src="assets/img/Sino.png" alt="Sino com quantidade de notificações">
        <img class="btn" src="assets/img/btn-viacredi.png" alt="Botão com borda azul, vazado e escrito viacredi">
        <img class="config" src="assets/img/Configuracoes.png" alt="Botão de configurações com foto de usuário">
        <!-- <button></button> -->
    </div>
</header>